@import '~bootstrap/scss/bootstrap';

.container {
  margin-top: 10px;
}

.result-list {
  padding-left: 30px;
  li {
    margin-bottom: 5px;
  }

}
.any-success-prob {
  font-weight: bold;
  font-size: larger;
  color: red;
}
.all-fail-prob {
  font-weight: bold;
  font-size: larger;
}
.count {
  font-weight: bold;
}

.all-fail-count {
  font-weight: bold;
  color: red;
}

.preset-btn {
  display: inline-block;
}

.preset-btn-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 0;
}
